*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family:consolas;

}

body
{
    margin:0;
    background:#111;
}
.column{
    float:left;
    width: 33%;
    padding: 15px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}

.navigation
{
    position: sticky;
    width: 80px;
    min-height:600px;
    background: #fff;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius:10px;
    box-shadow: -20px 20px 50px rgba(0,0,0,0, 0.05);
    transition:0.5s;
}
.navigation.active
{
    width:250px;
}
.navigation .menu_toggle
{
    position: relative;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: flex-end;
    align-items: center;
    cursor:pointer;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.5s);
}

.navigation .menu_toggle::before
{
    content:'';
    position:absolute;
    width: 50px;
    height: 2px;
    background: #333;
    transform: translateY(-10px);
    transition: 0.5s;
}

.navigation .menu_toggle::after
{
    content:'';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #333;
    transform: translateY(10px);
    transition: 0.5s;
    box-shadow: 0 -10px #333;   
}

.navigation.active .menu_toggle::before
{
    transform: translateY(0px) rotate(45deg);
}

.navigation.active .menu_toggle::after
{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #333;
}

.scan
{
    position: relative;
    display: flex;
    float:center;
    flex-direction: column;
    align-items: center;
}

.scan h1
{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    color: #b22222;
    filter:drop-shadow(0 0 20px #ff69b4) drop-shadow(0 0 60px #dc143c);
    animation: animate_text 0.1s steps(1) infinite;
}

.scan h3
{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    color: #3fefef;
    filter:drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_text 0.1s steps(1) infinite;
}

@keyframes animate_text
{
    0%,100%
    {
        opacity: 0%;
    }
    50%
    {
        opacity: 1;
    }
}

.scan .fingerprint
{
    position: relative;
    width: 300px;
    height: 380px;
    cursor: pointer;
    background: url(fingerprint_01.png);
    background-size: 300px;
}

.scan .fingerprint::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(fingerprint_02.png);
    background-size: 300px;
    animation: animate 10s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}

.scan .fingerprint::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3fefef;
    border-radius:8px;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0,0,60px #3efefe);
    animation: animate_line 10s ease-in-out infinite;
}

@keyframes animate_line
{
    0%,100%
    {
        top: 0%;
    }
    50%
    {
        top: 100%;
    }
}